{% extends "main.html" %}
{% load static %}

{% block title %}Detail User{% endblock %}

{% block content %}
<div class="main-pages">
    <div class="container-fluid">
        <div class="d-block rounded shadow bg-white p-3">
            <div class="row">
                <div class="col-12 navigator mb-4">
                    <h6><a href="{% url 'dashboard' %}" class="text-dark"> Beranda </a> <i class="fa fa-caret-right"></i> <a href="{% url 'user_register' %}" class="text-dark"> User </a> <i class="fa fa-caret-right"></i> <a href="#" class="text-muted">Detail User </a></h6>
                </div>
            </div>
            <div class="row">
                <div class="class col-lg-4 col-sm-12 text-center mb-2">
                    <img class="img-thumbnail" src="{{ data.profil_pic.url }}" alt="{{ data.foto }}">
                </div>
                <div class="class col-lg-8 col-sm-12">
                    <table class="table mb-5">
                        <tbody>
                            <tr>
                                <td class="col-4">Nama</td>
                                <td>:</td>
                                <td>{{ data.nama }}</td>
                            </tr>
                            <tr>
                                <td class="col-4">Username</td>
                                <td>:</td>
                                <td>{{ data.user.username }}</td>
                            </tr>
                            <tr>
                                <td>NIP / NIK</td>
                                <td>:</td>
                                {% if data.nip %}
                                    <td>{{ data.nip }}</td>
                                {% else %}
                                    <td> - </td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>Alamat Email</td>
                                <td>:</td>
                                <td>{{ data.email }}</td>
                            </tr>
                            <tr>
                                <td>Unit Kerja</td>
                                <td>:</td>
                                <td>{{ data.unit_kerja }}</td>
                            </tr>
                            <tr>
                                <td>Nomor HP</td>
                                <td>:</td>
                                <td>{{ data.no_hp }}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>:</td>
                                <td>{{ data.email }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% for foto in foto_kendaraan %}
            <div class="row mb-3 text-center">
                {% if foto.foto_kendaraan %}
                <div class="bg-image hover-overlay ripple mb-3">
                    <img src="{{ foto.foto_kendaraan.url }}" class="img-fluid kendaraan" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
                    </a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% include 'footer.html' %}
    </div>
</div>
{% endblock %}